<app-nav-bar></app-nav-bar>
<img src="{{this.product.url}}" style="width: 20em;">
<br>
<h3>{{this.product.name}}</h3>
<strong>{{this.product.price}}</strong>
<br>
<p>{{this.product.description}}</p>
<br>
<select name="quantity" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>
<br>
<button>Add to Cart</button>
<br>
<a routerLink="/">Back to product list</a>