<div class="product-container">
    <section class="product-index">
        <div class="product-item-container" *ngFor="let product of products">
            <a  routerLink="/products/{{product.id}}"><img class="product-image" src="{{product.url}}"></a>

            <strong>{{[product.name]}}</strong>

            <strong>Price: ${{product.price}}</strong>

            <select class="select-input" (change)="selectChange($event)" name="selectQuantity" >
                <option *ngFor="let o of selectOptions">{{o}}</option>
            </select>

            <button type="button" class="btn btn-primary" (click)="addProduct(product)">Add to Cart</button>
        
        </div>
    </section>
</div>