<div class="user-form">
    <form #form="ngForm" (ngSubmit)="submitForm()">
        <label for="name">Full Name:</label>
        <br>
        <input type="text" class="input-text" name="name" required minlength="4" placeholder="Your full name (Min. 4 characters)"  [(ngModel)]="name">

        <br>
        
        <label for="address">Address:</label>
        <br>
        
        <input type="text" class="input-text" name="address" required minlength="6" placeholder="Your full address (Min. 6 characters)" [(ngModel)]="address" >
        <br>
        
        <label for="address">Credit Card Number:</label>
        <br>
        
        <input type="text" class="input-text" name="card" required minlength="16" maxlength="16" placeholder="Your 16 digit card number" [(ngModel)]="card" >
        <br>
        
        <input type="button" class="btn btn-primary input-button" [disabled]="form.invalid" (click)="submitForm()" value="Submit">
    </form>
</div>
